/*
 *@name : button-base
 *@description : 按钮(包括使用button和input[type=button | submit]以及a标签)的视觉定义.
 *@require : core
 *@author : zhenyu.zhaozy
 *@version : 1.1
 *@modifyInfo : 
 *				2012-09-12 : 修正抽象方式和命名, 正式对外服务版本;
 *				2012-07-27 : 创建模块, 内部版本;
 *@structure : 
 *           <button class="ui-button ui-button-primary ui-button-disabled">Button</button>
 *           <input type="button" class="ui-button ui-button-primary ui-button-disabled" value="Button" />
 */


/*
 * bounding box
 */ 
.ui-button {
	display : inline-block;
	*display : inline;
	*zoom : 1;
	position: relative;
	overflow : visible;
}

/*
 * button state	[primary, normal]
 */
.ui-button.ui-button-primary, 
.ui-button.ui-button-normal {
	margin : 0;
	font-family : Arial;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
	cursor : pointer;

	-webkit-border-radius : 2px;
	-moz-border-radius : 2px;
	border-radius : 2px;
	-webkit-box-shadow : 0 1px 2px 0 rgba(0,0,0,.1);
	-moz-box-shadow : 0 1px 2px 0 rgba(0,0,0,.1);
	box-shadow : 0 1px 2px 0 rgba(0,0,0,.1);
}

.ui-button-primary:hover, 
.ui-button-normal:hover {
	text-decoration : none;
}

.ui-button-primary:active, 
.ui-button-normal:active {
	-webkit-box-shadow: 0 0 0 0 transparent,
	 					inset 0 1px 2px rgba(0,0,0,.1), 0 0 0 rgba(0,0,0,.05),
	 					0 0 0 0 transparent,
	 					0 1px 2px 0 rgba(0,0,0,.1);
  	-moz-box-shadow: 0 0 0 0 transparent,
	 				 inset 0 1px 2px rgba(0,0,0,.1), 0 0 0 rgba(0,0,0,.05),
	 				 0 0 0 0 transparent,
	 				 0 1px 2px 0 rgba(0,0,0,.1);
  	box-shadow: 0 0 0 0 transparent,
	 			inset 0 1px 2px rgba(0,0,0,.1), 0 0 0 rgba(0,0,0,.05),
	 			0 0 0 0 transparent,
	 			0 1px 2px 0 rgba(0,0,0,.1);
}

.ui-button-primary,
.ui-button-primary:link,  
.ui-button-primary:visited, 
.ui-button-primary:active {
	color : #ffffff;
	border : 1px solid #e87b0e;
	
	/* Progressive Enhancement */
	background : -moz-linear-gradient(top, #ffab02, #ff8a28 100%);
	background : -webkit-gradient(linear, 0 0, 0 100%, from(#ffab02), to(#ff8a28));
  	background : -ms-linear-gradient(top, #ffab02, #ff8a28);
  	background : -webkit-linear-gradient(top, #ffab02, #ff8a28);
  	background : -o-linear-gradient(top, #ffab02, #ff8a28);
  	background : linear-gradient(top, #ffab02, #ff8a28);
	
	background-color : #ff9917; /* fallback for older/unsupporting browsers */  
}

.ui-button-primary:hover {
	color : #ffffff;
	
	background : -moz-linear-gradient(top, #ffbc35, #f2a210 100%);
	background : -webkit-gradient(linear, 0 0, 0 100%, from(#ffbc35), to(#f2a210));
	background : -ms-linear-gradient(top, #ffbc35, #f2a210);
  	background : -webkit-linear-gradient(top, #ffbc35, #f2a210);
  	background : -o-linear-gradient(top, #ffbc35, #f2a210);
  	background : linear-gradient(top, #ffbc35, #f2a210);
  	
  	background-color : #f8af23;
}

.ui-button-normal, 
.ui-button-normal:link, 
.ui-button-normal:visited, 
.ui-button-normal:active {
	color : #333333;
	border : 1px solid #bcbcbc;

	background : -moz-linear-gradient(top, #fafafa, #e8e8e8 100%);
	background : -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e8e8e8));
	background : -ms-linear-gradient(top, #fafafa, #e8e8e8);
  	background : -webkit-linear-gradient(top, #fafafa, #e8e8e8);
  	background : -o-linear-gradient(top, #fafafa, #e8e8e8);
  	background : linear-gradient(top, #fafafa, #e8e8e8);
  	
  	background-color : #eeeeee; 
}

.ui-button-normal:hover {
	color : #333333;

	background : -moz-linear-gradient(top, #fafafa, #f2f2f2 100%);
	background : -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f2f2f2));
	background : -ms-linear-gradient(top, #fafafa, #f2f2f2);
  	background : -webkit-linear-gradient(top, #fafafa, #f2f2f2);
  	background : -o-linear-gradient(top, #fafafa, #f2f2f2);
  	background : linear-gradient(top, #fafafa, #f2f2f2);
  	
  	background-color : #fdfdfd;
}


/*
 * button type [small, medium, large]
 */

.ui-button-small {
	font-size : 12px;
	line-height : 14px;
	*line-height : 12px;
	padding : 2px 10px;
	*padding : 1px 10px;
}

.ui-button-medium {
	font-size : 14px;
	line-height : 18px;
	*line-height : 14px;
	padding : 3px 15px;
	*padding : 2px 15px;
}

.ui-button-large {
	font-size : 18px;
	line-height : 18px;
	*line-height : 17px;
	padding : 8px 15px;
	*padding : 6px 15px;
}



/*
 * button disabled
 */
.ui-button.disabled, 
.ui-button.disabled:link, 
.ui-button.disabled:hover, 
.ui-button.disabled:active {
	color : #cbcbcb;
	border : solid 1px #d4d4d4;
	cursor : default;
	
	background : -moz-linear-gradient(top, #f5f5f5, #e6e6e6 100%);
	background : -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e6e6e6));
	background : -ms-linear-gradient(top, #f5f5f5, #e6e6e6);
  	background : -webkit-linear-gradient(top, #f5f5f5, #e6e6e6);
  	background : -o-linear-gradient(top, #f5f5f5, #e6e6e6);
  	background : linear-gradient(top, #f5f5f5, #e6e6e6);
  	
  	background-color : #e6e6e6;
	
	text-shadow : #ffffff 0 1px 1px ;
	-webkit-box-shadow : 0 1px 2px 0 rgba(0,0,0,.1);
	-moz-box-shadow : 0 1px 2px 0 rgba(0,0,0,.1);
	box-shadow : 0 1px 2px 0 rgba(0,0,0,.1);
}

