/*
 *@name : pagination-base
 *@description : 页码导航的视觉定义.
 *@require : core
 *@author : zhenyu.zhaozy@alibaba-inc.com
 *@version : 1.1
 *@modifyInfo : 
 *		2012-11-28 :  调整DOM结构, 以尽可能简洁DOM结构提供服务, HTML的容错性有一定意义的降低, 但是对于要求HTML节点数比较苛刻的场景性能更好.
 *		
 *		2012-07-27 : 创建模块, 内部版本;
 *@structure : 
 * 
 *  <ui-pagination : []>
 *  	<ui-pagination-navi : []>
 *  		<ui-pagination-prev : [disabled]>
 *  		<ui-pagination-active>
 *  		<a> | <span>
 *  		<ui-pagination-next : [disabled]>
 *  	<ui-pagination-goto>
 *  		<ui-label>
 *  			<ui-textfield>
 *  		<ui-button>
 *  		
 */
.ui-pagination {
	margin: 10px 0;
	overflow: hidden;
}

.ui-pagination-body {
	padding : 6px 10px;
	margin : 10px 0;
	background :  #f5f5f5;
}

.ui-pagination-navi a,
.ui-pagination-navi span {
	float : left;
	display : inline;

	margin : 0 3px 0 0;
	padding : 4px 6px;

	font-size : 11px;
	color : #0066cc;
	line-height : 12px;

	overflow : hidden;
	text-decoration : none;
	background : #fff;
	border : 1px solid #d3d3d4;
}

.ui-pagination-navi a:hover {
	color : #0066cc;
	background-color : #eff5fe;
	border : 1px solid #80add6;
}

.ui-pagination-navi .ui-pagination-prev, 
.ui-pagination-navi .ui-pagination-next,
.ui-pagination-navi span.ui-pagination-disabled.ui-pagination-prev,
.ui-pagination-navi span.ui-pagination-disabled.ui-pagination-next {
	width : 6px;
	overflow : hidden;
	text-indent : -999px;
	background : url(http://i02.i.aliimg.com/simg/sprites/app/pagination.png) no-repeat 0 0;
}

.ui-pagination-navi .ui-pagination-prev {
	background-position : -1px -23px;
}

.ui-pagination-navi .ui-pagination-prev:hover {
	background-position : -21px -23px;
}

.ui-pagination-navi .ui-pagination-next {
	background-position : -1px -1px;
}

.ui-pagination-navi .ui-pagination-next:hover {
	background-position : -21px -1px;
}

.ui-pagination-navi span.ui-pagination-disabled.ui-pagination-prev, 
.ui-pagination-navi span.ui-pagination-disabled.ui-pagination-prev:hover {
	background-position : -41px -23px;
	*border : solid 1px #ccc !important;
}

.ui-pagination-navi span.ui-pagination-disabled.ui-pagination-next, 
.ui-pagination-navi span.ui-pagination-disabled.ui-pagination-next:hover {
	background-position : -41px -1px;
	*border : solid 1px #ccc !important;
}

.ui-pagination-navi span.ui-pagination-active {
	border : 1px solid transparent;
	background-color : transparent;
	color : #999;
	font-weight : bold;
	_border : none;
	_padding : 5px 7px;
	cursor : default;
}

.ui-pagination-navi span {
	border : 1px solid transparent;
	background : none;
	cursor : default;
	_padding : 5px 7px;
	_border : none;
}

.ui-pagination-goto .ui-textfield-system {
	padding : 3px 4px;
	width : 32px;
}



/*

.ui-pagination {
	margin: 10px 0;
    overflow: hidden;
}
.ui-pagination-normal {
	padding : 6px 10px;
	background-color : #f5f5f5;
}
 
.ui-pagination-nav {
	list-style : none;
	margin : 0 0 0 -3px;
	padding : 0;
}

.ui-pagination-nav a:link, 
.ui-pagination-nav a:visited,
.ui-pagination-nav a:hover {
	color : #0066cc;
	text-decoration : none;
}

.ui-pagination-nav li {
	float : left;
	display : inline;
	height : 22px;
	margin : 0 0 0 3px;
	padding : 0;
	
}

.ui-pagination-nav li a:link, 
.ui-pagination-nav li a:visited {
	display : block;
	_float : left;
	padding : 4px 6px;
	overflow : hidden;
	
	font-size : 11px;
	line-height : 12px;
	
	background-color : #fff;
	border : 1px solid #d3d3d4;
}

.ui-pagination-nav li a:hover {
	background-color : #eff5fe;
	border : 1px solid #80add6;
}

.ui-pagination-nav .ui-pagination-disabled a:link, 
.ui-pagination-nav .ui-pagination-disabled a:visited, 
.ui-pagination-nav .ui-pagination-disabled a:hover {
	border : 1px solid transparent;
	background : none;
	cursor : default;
	_padding : 5px 7px;
	_border : none;
}

.ui-pagination-nav li .ui-pagination-prev:link, 
.ui-pagination-nav li .ui-pagination-prev:visited, 
.ui-pagination-nav li .ui-pagination-prev:hover, 
.ui-pagination-nav .ui-pagination-disabled .ui-pagination-prev:link, 
.ui-pagination-nav .ui-pagination-disabled .ui-pagination-prev:visited, 
.ui-pagination-nav .ui-pagination-prev .ui-pagination-disabled:hover, 
.ui-pagination-nav li .ui-pagination-next:link, 
.ui-pagination-nav li .ui-pagination-next:visited, 
.ui-pagination-nav li .ui-pagination-next:hover, 
.ui-pagination-nav .ui-pagination-disabled .ui-pagination-next:link, 
.ui-pagination-nav .ui-pagination-disabled .ui-pagination-next:visited, 
.ui-pagination-nav .ui-pagination-disabled .ui-pagination-next:hover {
	width : 6px;
	overflow : hidden;
	text-indent : -999px;
	background : url(http://i02.i.aliimg.com/simg/sprites/app/pagination.png) no-repeat 0 0;
}

.ui-pagination-nav li .ui-pagination-prev:link, 
.ui-pagination-nav li .ui-pagination-prev:visited {
	background-position : -1px -23px;
}

.ui-pagination-nav li .ui-pagination-prev:hover {
	background-position : -21px -23px;
}

.ui-pagination-nav .ui-pagination-disabled .ui-pagination-prev:link, 
.ui-pagination-nav .ui-pagination-disabled .ui-pagination-prev:visited, 
.ui-pagination-nav .ui-pagination-disabled .ui-pagination-prev:hover {
	background-position : -41px -23px;
	*border : solid 1px #ccc !important;
	_padding : 4px 6px;
}

.ui-pagination-nav li .ui-pagination-next:link, 
.ui-pagination-nav li .ui-pagination-next:visited {
	background-position : -1px -1px;
}

.ui-pagination-nav li .ui-pagination-next:hover {
	background-position : -21px -1px;
}

.ui-pagination-nav .ui-pagination-disabled .ui-pagination-next, 
.ui-pagination-nav .ui-pagination-disabled .ui-pagination-next:visited, 
.ui-pagination-nav .ui-pagination-disabled .ui-pagination-next:hover {
	background-position : -41px -1px;
	*border : solid 1px #ccc !important;
	_padding : 4px 6px;
}

.ui-pagination-nav li.ui-pagination-active a,
.ui-pagination-nav li.ui-pagination-active a:visited,
.ui-pagination-nav li.ui-pagination-active a:hover {
	border : 1px solid transparent;
	background-color : transparent;
	color : #999;
	font-weight : bold;
	_border : none;
	_padding : 5px 7px;
	cursor : default;
}
.ui-pagination-label {
	float : left;
	display : inline;
	padding : 2px 0;
	margin : 4px 5px 0 5px;
	line-height : 11px;
}


.ui-pagination .ui-textfield-normal {
	width : 28px;
	*margin-right : 3px;
	*margin-left : 3px;
}
*/