.ui-radio{display:inline-block;*display:inline;*zoom:1}.ui-radio-system{width:auto;height:auto;margin:0 3px 3px 0;*margin:0 3px 0 0;line-height:normal;border:0;background-color:transparent;cursor:pointer}.ui-radio-system:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}





